body {
    background-color: #1e1e1e;
    color: #f0f0f0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

a {
    color: #66afe9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    padding: 4px;
}
