body {
    background-color: #1e1e1e; /* Lighter background */
    color: #f0f0f0; /* Softer white text */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 50px;
    text-align: center;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}

.password-container {
    display: flex;
    margin-bottom: 10px;
}

#password {
    flex: 1;
    padding: 10px;
    font-size: 18px;
    background-color: #2b2b2b; /* White background */
    color: #f0f0f0;
    border: 1px solid #444;
    border-right: none;
    border-radius: 5px 0 0 5px;
}

#copy-btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #5a9bd5; /* Standard blue */
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

#copy-btn:hover {
    background-color: #4a8ac1;
}

.controls {
    text-align: left;
}

.option {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.option label {
    cursor: pointer;
}

.length {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#length-input {
    width: 60px;
    margin-left: 10px;
    padding: 5px;
    background-color: #2b2b2b;
    color: #f0f0f0;
    border: 1px solid #444;
}

#length-slider {
    flex: 1;
    margin-left: 10px;
}

#generate-btn {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #28a745; /* Green for action buttons */
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#generate-btn:hover {
    background-color: #218838;
}

/* Notification label styles */
#copy-notification {
    margin-top: 10px;
    color: #28a745; /* Green color for success */
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

#copy-notification.show {
    visibility: visible;
    opacity: 1;
}
